* text=auto eol=lf
apps/macos/Sources/CWatchBridge/** linguist-generated=true
*.swift text diff=swift
*.rs text
*.slint text
*.png binary
*.ico binary
*.h linguist-detectable=false
Cargo.lock text
.github/licenses.hbs linguist-detectable=false
THIRD_PARTY_LICENSES.txt linguist-generated=true -whitespace
